<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon"
    href="..\..\..\media\favicon.ico"/>

    <link rel="stylesheet" href="{% static './bulma.css' %}">

    <title>{{ user.get_username }} dashboard | Django BookStore</title>
</head>
<body>
    <a href="{% url 'url_home'%}"><h1>Django BookStore</h1></a>
    
    
    <h2>Seja bem vindo {{ user.get_username }}</h2>

    <br>
    <b>Username</b> - {{ user.username }}<br>
    <b>Nome</b> - {{ user.first_name }}<br>
    <b>Sobrenome</b> - {{ user.last_name }}<br>
    <b>E-mail</b> - {{ user.email }}<br>
    <b>Idade</b> - {{ user.age }}<br>
    <a href="{% url 'url_edit_user'%}">Editar Informações</a>
    <br>

    <a href="{% url 'alterar_senha'%}">Alterar senha</a>

    <h3>Suas compras</h3><br>
    {% for compra in compras %}
        {% for livro in livros %}
            {% if compra.livro_id == livro.id %}
                <li>
                {% if livro.image == "" and livro.image2 == "" and livro.image3 == ""%}
                    <img class="img_box" src="..\..\..\media\no_pic.png">
                {% endif %}
        
                {% if livro.image != "" %}
                    <img class="img_box" src="{{ livro.image.url }}">
                {% endif %}
        
                {% if livro.image2 != "" and livro.image == ""%}
                    <img class="img_box" src="{{ livro.image2.url }}">
                {% endif %}
        
                {% if livro.image3 != "" and livro.image == "" and livro.image2 == ""%}
                    <img class="img_box" src="{{ livro.image3.url }}">
                {% endif %}

                {{ livro.titulo }}  -  R$ {{ compra.valor }}  -  {{ compra.timestamp }} - {{compra.metodo_de_pagamento}} <br>
                <h1>Nota (0 a 5) - {{ livro.nota }}</h1> 
                <br>

                
                {% if compra.avaliado == False %}
                <form action="{% url 'url_avaliar' livro.id %}"method="GET">
                    <div class="field has-addons has-addons-right search">
                      
                    <input class="input" name="pkCompra" value={{compra.id}} readonly></input>
                    
                    <p class="control">
                        <span class="select">
                           <select name="nota">
                            <option value = 1>1</option>
                            <option value = 2>2</option>
                            <option value = 3>3</option>
                            <option value = 4>4</option>
                            <option value = 5>5</option>
                          </select>
                        </span>
                      </p>
                        <button class="button is-primary" type="submit">
                          Avaliar
                        </button>
                    </div>
                  </form>

                {% endif %}


                <h1>Status - {{ compra.estado_da_compra }}</h1>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}

</body>
</html>